.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-form-1 {
  height: 153px;
  width: 200px;
  margin: 10px 825px 0 15px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 7px 31px 7px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -122px 0 0 auto;
  padding: 9px 19px 10px 18px;
}

.u-section-1 .u-table-1 {
  width: 1136px;
  margin: 96px auto 0;
}

.u-block-4681-10 {
  height: 46px;
}

.u-block-4681-21 {
  height: 46px;
}

.u-section-1 .u-list-1 {
  width: 188px;
  margin: 390px 452px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 740px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    font-weight: normal;
    text-transform: none;
    margin-top: -196px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 171px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 57px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 520px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -111px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 416px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 58px;
    margin-right: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-form-1 {
    margin-right: 140px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -162px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: 100px;
  }

  .u-section-1 .u-list-1 {
    margin-right: 152px;
  }
}