.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 969px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0 auto;
  padding: 9px 19px 10px 18px;
}

.u-section-1 .u-tabs-1 {
  min-height: 800px;
  width: 1200px;
  margin: 88px -30px 20px;
}

.u-section-1 .u-tab-item-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-table-1 {
  width: 1020px;
  margin: 71px auto 0;
}

.u-block-cfc9-209 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-left: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-table-2 {
  width: 1020px;
  margin: 71px auto 0;
}

.u-block-cfc9-429 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 880px;
  }

  .u-section-1 .u-table-2 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 660px;
  }

  .u-section-1 .u-table-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
    margin-top: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
    margin-top: 85px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }

  .u-section-1 .u-table-2 {
    width: 320px;
  }
}