.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-icon-1 {
  width: 69px;
  height: 69px;
  margin: 6px 18px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 0 9px 0 1045px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 0 -14px 0 auto;
  padding: 10px 23px 11px 22px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: -43px auto 0 -12px;
  padding: 10px 23px 11px 21px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px 15px 0 auto;
  padding: 10px 23px 12px 22px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0 0 7px;
}

.u-section-1 .u-text-2 {
  margin: 0 7px 0 0;
}

.u-section-1 .u-table-1 {
  width: 517px;
  margin: 29px 20px 0 auto;
}

.u-block-69f2-56 {
  height: 46px;
}

.u-block-69f2-63 {
  height: 46px;
}

.u-section-1 .u-form-1 {
  height: 141px;
  margin: 18px 0 0 7px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-1 .u-text-3 {
  margin: 6px 0 0;
}

.u-section-1 .u-form-2 {
  margin-bottom: 0;
  margin-top: 14px;
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 854px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 464px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-1 .u-form-2 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 634px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 354px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 254px;
  }

  .u-section-1 .u-table-1 {
    width: 334px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}