<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/formatar.css" rel="stylesheet" type="text/css">
   <title>Menu Principal</title>
</head>
<body>
   <form method="POST" action="/menu_principal_prof">
      <div style="text-align:center">
         <h1>Menu alterar notas</h1>
         <hr/>
         <h2>{{ msg }}</h2>
         <hr/>
         <br/>
         <button class="subt">Menu</button>
      </div>
   </form>
   <form method="POST" action="/alterar_presenca">
         <div style="text-align:center">
            <button type = "submit"> Atividades e Presença </button>
         </div>
   </form>
   <form method="POST" action="/logout">
         <div style="text-align:center">
            <button type = "submit"> Sair </button>
         </div>
   </form>
</body>
</html>
