<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/formatar.css">
    <link rel="shortcut icon" href="">
    <title>Aluno</title>
</head>

<body>
    <div style="text-align:center" class="column is-4 is-offset-4">
        <h1 class="title">Acesso Aluno</h1>
        <h2 class="segundo-titulo">Ajuda Prof.</h2>
        <div class="box">
            <form method="POST" action="/login_a">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="usuario_a" placeholder="Usuário" autofocus=""
                        size="10" minlength="10" maxlength="10"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" required/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="senha_a" placeholder="Senha" size="10"
                               minlength="6" maxlength="8" required>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </div>
                <button class="button">Login</button>
            </form>
        </div>
    </div>
</body>

</html>
