<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/formatar.css" rel="stylesheet" type="text/css">
   <title>Menu Principal</title>
</head>
<body>
   <form method="POST" action="/alterar_notas">
      <div style="text-align:center">
         <h1> Menu Principal.</h1>
         <h2>Resultado do login:</h2>
         <hr/>
         <h2>{{ msg }}</h2>
         <button class="button">Alterar notas e Presença</button>
         <hr/>
         <br/>
      </div>
   </form>
   <form method="POST" action="/logout_p">
         <div style="text-align:center">
            <button type = "submit"> Sair </button>
         </div>
   </form>
</body>
</html>
