.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 19px 0 0 1015px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: none;
  margin: 13px auto 0 0;
  padding: 10px 14px 10px 13px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: -41px 0 0 auto;
  padding: 9px 19px 10px 18px;
}

.u-section-1 .u-tabs-1 {
  min-height: 800px;
  width: 1200px;
  margin: 25px -30px 60px;
}

.u-section-1 .u-tab-item-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 11px auto 0 30px;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-table-1 {
  width: 1020px;
  margin: 20px auto 0;
}

.u-block-cfc9-429 {
  background-image: none;
}

.u-section-1 .u-table-2 {
  width: 1020px;
  margin: 20px auto 0;
}

.u-block-cfc9-916 {
  height: 46px;
}

.u-block-cfc9-921 {
  height: 46px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 27px auto 0 349px;
  padding: 5px 10px 6px;
}

.u-section-1 .u-table-3 {
  width: 244px;
  margin: -40px auto 0 60px;
}

.u-block-cfc9-933 {
  height: 46px;
}

.u-block-cfc9-940 {
  height: 46px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-left: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 11px auto 0 30px;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-table-4 {
  width: 1020px;
  margin: 20px auto 0;
}

.u-block-cfc9-955 {
  background-image: none;
}

.u-section-1 .u-table-5 {
  width: 1020px;
  margin: 20px auto 0;
}

.u-block-cfc9-977 {
  height: 46px;
}

.u-block-cfc9-984 {
  height: 46px;
}

.u-section-1 .u-table-6 {
  width: 244px;
  margin: 20px auto 0 60px;
}

.u-block-cfc9-995 {
  height: 46px;
}

.u-block-cfc9-1002 {
  height: 46px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 27px auto 0 349px;
  padding: 5px 10px 6px;
}

.u-section-1 .u-table-7 {
  width: 244px;
  margin: -40px auto 0 60px;
}

.u-block-cfc9-1012 {
  height: 46px;
}

.u-block-cfc9-1019 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 120px;
    margin-left: 815px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -221px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 193px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 880px;
  }

  .u-section-1 .u-table-2 {
    width: 880px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-table-4 {
    width: 880px;
  }

  .u-section-1 .u-table-5 {
    width: 880px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 595px;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 660px;
  }

  .u-section-1 .u-table-2 {
    width: 660px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-table-4 {
    width: 660px;
  }

  .u-section-1 .u-table-5 {
    width: 660px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 107px;
    margin-left: 415px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -350px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 309px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
    margin-top: -18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }

  .u-section-1 .u-table-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-4 {
    width: 520px;
  }

  .u-section-1 .u-table-5 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 76px;
    margin-left: 215px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -205px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 140px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
    margin-top: 19px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }

  .u-section-1 .u-table-2 {
    width: 320px;
  }

  .u-section-1 .u-table-4 {
    width: 320px;
  }

  .u-section-1 .u-table-5 {
    width: 320px;
  }
}